* {
    box-sizing: border-box;
}

.title, .subtitle {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
    padding: 20px;
    border: black 2px solid;
    border-radius: 15px;
}

a, p, ul, ol {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
    color: red; 
}

img {
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 40px;
}

#recipes-list {
    font-size: 28px;
    border: black 2px solid;
    margin: 0 1em;
    border-radius: 15px;
}

.home-btn {
    padding: 5px;
    border: black 2px solid;
    border-radius: 5px;
    background-color: lightgreen;
    color: black;
    margin: 1rem;
}